<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='asset/stylesheets/style.css' />
      <script src="dist/js/oops.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
